<!--
If you want to include any custom html just before </head>, put it in /layouts/head_custom.html
Do not put anything in this file - it's only here so that hugo won't throw an error if /layouts/head_custom.html doesn't exist.
<div style="z-index:-1;height:500px;background-image:url(http://localhost:1313/blog//img/triangle.jpg);margin-top:90px;padding-bottom:-400px"></div>
-->
  <link rel="stylesheet" href="{{ "css/perso.css" | absURL }}" />