+++
title = "Chopin Consulting Solutions pour la Recherche & la Formation"
linkTitle = "Chopin-Research-Solutions-Training-Consultancy"
+++

{{% blocks/lead color="blue" %}}
<h1>Notre expertise </h1>
<p>Nous fournissons une expertise en <b>physique et mécanique de la matière molle et des systèmes complexes</b> aux particuliers, aux entreprises, aux organisations, aux établissements d'enseignement et aux laboratoires.</p>
<p>Nous avons une expertise internationalement reconnue de la <b>Dynamique des Objets Flexibles et Manipulation des fluides complexes</b>, le <b>Prototypage Rapide et l'Ingénierie des Surfaces</b>.</p>

{{% /blocks/lead %}}

{{< blocks/lead color="dark" >}}
<h1>Approches et Outils</h1>

{{% blocks/feature icon="fa fa-cogs" title="Matière Molle & Procédés" %}}
Nous apportons des solutions au développement de nouveaux procédés de fabrication impliquant la matière molle et structures flexibles(gels, élastomères, fluides complexes, ...).
</br> </br> 
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-terminal " title="Code" %}}
</br> Pour mieux comprendre votre système, nous developpons des modèles grâce en utilisant l'analyse par éléments finis et des scripts Matlab sur-mesure.
</br> </br> </br> </br> 
{{% /blocks/feature %}}


{{% blocks/feature icon="far fa-chart-bar" title="Data Science" %}}
</br> Nous fournissons une analyse personnalisée pour divers types de données (images 2D et 3D, séries temporelles, ...) en utilisant l'analyse statistique, la corrélation d'images numériques, la segmentations d'images, l'analyse géométrique.
{{% /blocks/feature %}}

{{< /blocks/lead >}}

{{< blocks/lead color="red" >}}
<h1>About us</h1>

<p>Chopin Consulting Solutions pour la Recherche & Formation est dirigé par Julien Chopin, PhD en Physique de l'<b>&Eacute;cole Normale Supérieure</b> (Paris). Il est un chercheur de reconnu internationalement en science de la matière molle.</p>
<p>Il a été invité comme orateur lors de conférences internationales en physique et ingénierie à travers le monde, notamment au <b>MIT</b> (États-Unis), à l'<b>Harvard University</b> (États-Unis), <b>&Eacute;cole Normale Supérieure de Lyon</b> (France), <b>Solvay Conference</b> (Belgique), <b>Instituto de Física Teórica do Natal</b> (Brésil), <b>Reunión Anual de la Asociación Física Argentina</b>.</p>

<p>Il a travaillé dans les institutions suivantes :  <b>Clark University</b>, <em>Physics department</em> (USA); Universidade Federal do Rio de Janeiro</b>, <em>Civil Engineering Department</em> (Brazil); <b>ESPCI</b>, <em>Soft Matter Science and Engineering Lab</em>, Paris (France); <b>Université Pierre et Marie Curie</b>, <em>Institut d'Alembert</em> (France); <b>Universidade Federal da Bahia</b>, <em>Physics Department</em> (Brazil).
{{< /blocks/lead>}}

{{< blocks/lead color="blue" >}}
<h1>Contact</h1>

<h2>Chopin Consulting Solutions pour la Recherche & Formation</h2>
<h3><i class="fas fa-envelope"></i> chopin.phys@gmail.com
</h3>
{{< /blocks/lead>}}
