+++
title = "Chopin Consultoria Soluções para Pesquisa & Formação"
linkTitle = "Chopin-Research-Solutions-Training-Consultancy"
+++

{{% blocks/lead color="blue" %}}
<h1>Nossa expertise</h1>
<p> Oferecemos expertise em <b> Física e mecânica de materiais macios e sistemas complexos </b> para indivíduos, empresas, organizações, instituições de ensino e laboratórios. </p>

<p> Temos uma expertise reconhecida internacionalmente em <b> Soft Body Dynamics e Complex Fluid Manipulation </b>, <b> Prototipagem Rápida e Engenharia de Superfície </b>. </p>
{{% /blocks/lead %}}

{{< blocks/lead color="dark" >}}
<h1> Abordagens e ferramentas </h1>
    
{{% blocks/feature icon="fa fa-cogs" title="Soft Matter & Processing" %}}
Oferecemos soluções para o desenvolvimento de novos processos de fabricação envolvendo materiais macios (géis, elastômeros, fluidos complexos, ...). </br> </br>
{{% /blocks/feature %}}
    
    
{{% blocks/feature icon = "fa fa-terminal" title = "Código" %}}
</br> Para obter uma visão melhor do seu sistema, usamos análise de Elementos Finitos e código personalizado para modelagem com Matlab. </br> </br> </br>
{{% /blocks/feature %}}
    
    
{{% blocks/feature icon = "far fa-chart-bar" title = "Ciência de dados" %}}
</br> Nós fornecemos análises personalizadas para diversos tipos de dados (imagens 2D e 3D, séries temporais, ...) usando análise estatística, correlação de imagem digital, segmentação de imagem, análise geométrica.
{{% /blocks/feature %}}
    
{{< /blocks/lead >}}

{{< blocks/lead color="red" >}}
<h1> Sobre nós </h1>
    
<p> Chopin Consultoria Solução para Pesquisa & Formação é liderada por Julien Chopin, PhD em Física pela <b> & Eacute; cole Normale Supérieure </b> (Paris). Ele é um pesquisador reconhecido internacionalmente na ciência da matéria mole. </p>
    
<p> Ele foi convidado para palestrar em Conferências Internacionais de Pesquisa em Física e Engenharia em todo o mundo, incluindo no <b> MIT </b> (EUA), <b> Harvard University </b> (EUA), <b> & Eacute ; cole Normale Supérieure de Lyon </b> (França), <b> Conferência Solvay </b> (Bélgica), <b> Instituto de Física Teórica do Natal </b> (Brasil), <b> Reunião Anual de la Asociación Física Argentina </b>: </p>
    
<p> Trabalhou nas seguintes instituições: <b> Clark University </b>, <em> Departamento de Física </em> (EUA); Universidade Federal do Rio de Janeiro </b>, <em> Departamento de Engenharia Civil </em> (Brasil); <b> ESPCI </b>, <em> Soft Matter Science and Engineering Lab </em>, Paris (França); <b> Université Pierre et Marie Curie </b>, <em> Institut d'Alembert </em> (França); <b> Universidade Federal da Bahia </b>, <em> Departamento de Física </em> (Brasil).
{{< /blocks/lead >}}

{{< blocks/lead color="blue" >}}
<h1>Contact</h1>

<h2>Chopin Consultoria Solução para Pesquisa & Formação</h2>
<h3><i class="fas fa-envelope"></i> chopin.phys@gmail.com
</h3>
{{< /blocks/lead>}}
