+++
title = "Digimater"
linkTitle = "Digimater"
+++

{{% blocks/lead color="blue" %}}
<h1>Our mission </h1>
<p>Empower People for a Sustainable World</p>

{{% /blocks/lead %}}

{{< blocks/lead color="dark" >}}
<h1>Our Actions</h1>

{{% blocks/feature icon="fa fa-certificate" title="Innovations" %}}
</br> Innovation in Waste Upcycling. </br> </br> </br> 
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-terminal " title="Access" %}}
</br> Democratize access to Science and Technology. </br> </br> 
{{% /blocks/feature %}}


{{% blocks/feature icon="far fa-chart-bar" title="Circular Economy" %}}
</br> Sensibilization to Circular Economy. </br> </br> 
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-cogs" title="Workshops" %}}
</br> Workshops for Sustainable Makers. </br> </br> 
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-smile" title="Events" %}}
</br> We make events to promote sustanaible practice. </br> </br> 
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-flask" title="Open Space" %}}
</br> We have a welcoming open plasticaria</br> </br> 
{{% /blocks/feature %}}

{{< /blocks/lead >}}

{{< blocks/lead color="red" >}}
<h1>Plasticaria</h1>
<p> Plasticaria is a start up developping sustainable process to upcycling plastic waste in Salvador area, Brazil.</p>

{{< /blocks/lead>}}

{{< blocks/lead color="blue" >}}
<h1>Curumi project</h1>
<p>Sensibilization to Environment Preservation to Kids.</p>

{{< /blocks/lead>}}

{{< blocks/lead>}}
<h1>Contact</h1>

<h3 style="text-align : left;">Coucourumi<br> Rio Vermelho, Salvador - BA, BRASIL<br>coucourumi@gmel.com</h3>

{{< /blocks/lead>}}
