﻿{{ $_hugo_config := `{ "version": 1 }` }}
{{ $col_id := .Get "color" | default .Ordinal }}
{{ $height := .Get "height" | default "auto"  }}
{{ $type   := .Get "type" | default "" }} 

<section class="row td-box td-box--{{ $col_id }} td-box--gradient td-box--height-{{ $height }}">
	<div class="col">

			{{.Inner}}

	</div>
</section>